@import "tailwindcss";

@theme {
  --color-gold: #ffd54e;
  --color-red-accent: #ef4444;
  --color-dark: #1a1a1a;

  --font-display: "Satoshi", sans-serif;
  --font-body: "Satoshi", sans-serif;
}

/* Custom Utilities */
@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  background-color: var(--color-dark);
  color: white;
  font-family: var(--font-body);
}

/* Override all Tailwind tracking-* utilities to 0px globally */
* {
  letter-spacing: 0px !important;
}
